/*Roboto - Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');    
/*font-family: "Roboto", sans-serif;*/

/*Lato - Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/*font-family: "Lato", sans-serif;*/


h1{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #7C4F3A  
}

h2{color: #A26769}

nav{
    background-color: #7C8B81;
    color: white;
    font-family: "Lato", sans-serif;
}
nav a{
    color: white;
}

.texto  {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #4B4B4B
}

body{
    background-color: #FAF7F2   
}

footer{
    background-color: #7C8B81;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 14px;}